<!DOCTYPE html>
{% load static %}
{% url 'start_page' as url_start_page %}
{% url 'register_customer_page' as url_reg_customer %}
{% url 'register_station_page' as url_reg_station %}
{% url 'login_page' as url_login %}
{% url 'logout' as url_logout %}
{% url 'password_reset' as url_password_reset %}
{% url 'customer_home_page' as url_customer_home %}
{% url 'orders_page' as url_orders %}
{% url 'dashboard_customer_page' as url_dashboard_customer_page %}
{% url 'cars_page' as url_cars_page %}
{% url 'add_car_page' as url_add_car_page %}
{% url 'detail_car_page' as url_detail_car_page %}
{% url 'update_car_page' as url_update_car_page %}
{% url 'edit_car_page' as url_edit_car_page %}
{% url 'offers_customer_page' as url_offers_customer_page %}
{% url 'messages_cs_page' as url_messages_cs_page %}
{% url 'customer_sp_page' as url_customer_sp_page %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="We are AutoDaddy">
        <meta name="author" content="AutoDaddy">

        <title>{% block page_title %}{{w_account}}{% endblock %}</title>

		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

        <!-- Awesome Font Icons CSS -->
        <link rel="stylesheet" href="{% static 'css/awesome/all.min.css' %}">
        <!-- reference your installed Font Awesome Free package's files here -->
        <link href="{% static 'css/awesome/all.min.css' %}" rel="stylesheet" type="text/css">
        <!-- Elegant Font Icons CSS -->
        <link rel="stylesheet" href="{% static 'css/theme/elegant-font-icons.css' %}">
        <!-- Elegant Line Icons CSS -->
        <link rel="stylesheet" href="{% static 'css/theme/elegant-line-icons.css' %}">
        <!-- Themify Icon CSS -->
        <link rel="stylesheet" href="{% static 'css/theme/themify-icons.css' %}">
        <!-- Barber Icons CSS -->
        <link rel="stylesheet" href="{% static 'css/theme/barber-icons.css' %}">
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
        <!-- animate CSS -->
        <link rel="stylesheet" href="{% static 'css/theme/animate.min.css' %}">
		<!-- Venobox CSS -->
        <link rel="stylesheet" href="{% static 'css/theme/venobox/venobox.css' %}">
		<!-- OWL-Carousel CSS -->
        <link rel="stylesheet" href="{% static 'css/theme/owl.carousel.css' %}">
        <!-- Slick Nav CSS -->
        <link rel="stylesheet" href="{% static 'css/theme/slicknav.min.css' %}">
        <!-- Safari Mac Aplle CSS -->
        <link rel="stylesheet" href="{% static 'css/theme/reset.css' %}">
		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'css/theme/main.css' %}">
		<!-- Responsive CSS -->
        <link rel="stylesheet" href="{% static 'css/theme/responsive.css' %}">
        {% block style %}
        {% endblock style %}

    </head>
    <body>
        <div id='preloader' >
            <div class='loader' >
                <img src="{% static 'img/loading.gif' %}" width="80" alt="">
            </div>
        </div><!-- Preloader -->

        <header id="header" class="header-section">
            <div class="container">
                <nav class="navbar ">
                    <a href="{% url 'start_page' %}" class="navbar-brand">
                        <img src="{% static 'img/logo.svg' %}" alt="AutoService">
                    </a>
                    <div class="d-flex menu-wrap align-items-center">
                       <div id="mainmenu" class="mainmenu">
                           <ul class="nav">

                               <li><a href="{{url_start_page}}">Website start page</a>
                               </li>

                               {% if user.is_authenticated %}
                                    {% if owner %}
                                    <li><a href="{% url 'dashboard_owner_page' %}">Owner</a>
                                    {% else %}

                                        {% if current_customer_check %}
                                       <li><a href="{% url 'detail_customer_page' current_customer.slug %}">
                                           My profile</a></li>
                                        <li><a href="{{url_logout}}">log out</a></li>
                                        {% endif %}

                                    {% endif %}
                               {% endif %}

                            </ul>
                       </div>

                    </div>
                </nav>
            </div>
		</header> <!--.header-section -->

        <div id="navigation" class="main-page navigation">
            <ul>

                {% if user.is_authenticated %}
                    {% if current_customer %}
                <li>
                    <a href="{% url 'dashboard_customer_page' %}"
                       class="nav-point{% if url_dashboard_customer_page == request.path %} active{% endif %}">
                        <span class="icon">
                            <i class="fas fa-desktop fa-lg"></i>
                        </span>
                        <span class="title">{{w_dashboard}}</span>
                    </a>
                </li>
                <li>
                    <!-- url 'cars_page'-->
                    <a href="#"
                        class="nav-point{% if url_cars_page == request.path %} active{% endif %}
                            {% if cars_url %} active{% endif %}">
                        <span class="icon">
                            <i class="fas fa-car fa-lg"></i>
                        </span>
                        <span class="title">{{w_my_cars}}</span>
                    </a>
                </li>
                <li>
                    <a href="{{url_orders}}"
                        class="nav-point{% if url_orders == request.path %} active{% endif %}
                                            {% if orders_url %} active{% endif %}">
                        <span class="icon">
                            <i class="fas fa-tools fa-lg"></i>
                        </span>
                        <span class="title">{{w_orders}}</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-point  <!--  'offers_customer_page' -->
                       {% if offer_url %} active{% endif %}">
                        <span class="icon">
                            <i class="fas fa-briefcase fa-lg"></i>
                        </span>
                        <span class="title">{{w_offers}}</span>
                    </a>
                </li>
                <li>
                  <a href="#" class="nav-point position-relative  <!--   'messages_cs_page' -->
                            {% if url_messages_cs_page == request.path %} active{% endif %}
                            {% if messages_url %} active{% endif %}">

                        <span class="icon">
                            <i class="fas fa-envelope fa-lg"></i>
                            <span id="number_mes" class="position-absolute top-35 start-100 translate-middle badge
                            rounded-pill bg-danger"  {% if not number_m %}style="visibility:hidden"{% endif %}>
                                {{number_m}}
                            </span>
                        </span>
                        <span class="title">
                            {{w_messages}}
                        </span>
                    </a>
                </li>
                <li>
                   <a href="{% url 'detail_customer_page' current_customer.slug %}"
                       class="nav-point{% if customer_url %} active{% endif %}">
                        <span class="icon">
                            <i class="fas fa-cogs fa-lg"></i>
                        </span>
                        <span class="title">My profile</span>
                    </a>
                </li>
                <li>
                    <a href="{{url_customer_sp_page}}" class="nav-point{% if support_url %} active{% endif %}">
                        <span class="icon">
                            <i class="fas fa-headset fa-lg"></i>
                            <span id="number_mes" class="position-absolute top-35 start-100 translate-middle badge
                            rounded-pill bg-danger"  {% if not sup_number_m %}style="visibility:hidden"{% endif %}>
                                {{sup_number_m}}
                            </span>
                        </span>
                        <span class="title">{{w_support}}</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout_page' %}" class="nav-point">
                        <span class="icon">
                            <i class="fas fa-sign-out-alt fa-lg"></i>
                        </span>
                        <span class="title">{{w_log_out}}</span>
                    </a>
                </li>
                    {% endif %}
                    {% else %}
                <li>
                    <a href="#" class="nav-point">
                        <span class="icon">
                            <i class="fas fa-headset fa-lg"></i>
                        </span>
                        <span class="title">{{w_support}}</span>
                    </a>
                </li>
                    {% endif %}

            </ul>
            <div class="toggle"></div>

        </div>

<div class="container-fluid">

    <div class="row">

        {% block content %}


        <div class="col-10 col-md-9 offset-13 main-page" id="main">
            {% if messages %}
            <div class="alert alert-success">
              {% for m in messages %}
              {{m}}
              {% endfor %}
            </div>
            {% endif %}
<!--            <h1 class="h1-account">My profile</h1>-->
            <div class="row equal">
                <div class="col-12 col-md-6 mb-mobile">
                    <div class="shadow p-1 mb-3 bg-white rounded-10">
                        <div class="card-body">
                            <div class="card-header">
                                <strong style="font-size:18px;">My profile</strong>
                            </div>

                            <div class="form-group">

                                <div class="row mb-2">
                                    <div class="col-12">
                                        <label class="">Name</label>
                                        <div class="myborder">
                                            {% if get_customer.titul %}{{get_customer.titul}}{%endif%}
                                            {{get_customer.first_name}} {{get_customer.last_name}}
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-xl-6">
                                        <label class="">Email</label>
                                        <div class="myborder">
                                            {{get_customer.email}}
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <label class="">Phone</label>
                                        <div class="myborder">
                                            {% if get_customer.address_code %}
                                            {{get_customer.phone}}
                                            {% else %}
                                            not specifed
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    {% if get_customer.address_code %}
                                    <div class="col-xl-6">
                                        <label class="">Address code</label>
                                        <div class="myborder">
                                            {{get_customer.address_code}}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if get_customer.city %}
                                    <div class="col-xl-6">
                                        <label class="">City</label>
                                        <div class="myborder">
                                            {{get_customer.city}}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if get_customer.street %}
                                    <div class="col-xl-6">
                                        <label class="">Street</label>
                                        <div class="myborder">
                                            {{get_customer.street}}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if get_customer.house %}
                                    <div class="col-xl-6">
                                        <label class="">House</label>
                                        <div class="myborder">
                                            {{get_customer.house}}
                                        </div>
                                    </div>
                                    {% endif %}

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
<!--                                    url 'update_customer_page' get_customer.slug-->
                                    <a href="#"
                                       class="btn btn-secondary mb-3" style="width:100%;">Edit your data</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="{% url 'password_reset' %}"class="btn btn-danger" style="width:100%;">
                                        Change password</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% endblock %}
    </div>
</div>


<div class="alert alert-success message-corner"  role="alert" style="visibility:hidden">
    <div class="row">
        <div class="col-10">
            <div id="message-from-name"></div>
        </div>
        <div class="col-2 text-end">
            <button id="close-message" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
    </div>
    <a href="#">
        <div id="message-text"></div>
    </a>
</div>


    <footer class="footer_section">
			<div class="container">
                <div class="row">
                    <div class="col-12 xs-padding text-center">
                        <div class="copyright">&copy; Raketaweb</div>
                    </div>
<!--                    <div class="col-md-6 xs-padding">-->
<!--                        <ul class="footer_social">-->
<!--                            <li><a href="#">Orders</a></li>-->
<!--                            <li><a href="#">Terms</a></li>-->
<!--                            <li><a href="#">Report Problem</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
                </div>
			</div>
		</footer><!-- /.footer_section -->

<!--		<a data-scroll href="#header" id="scroll-to-top"><i class="arrow_up"></i></a>-->

		<!-- jQuery Lib -->
        <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
        <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
        <!--Slicknav-->
		<script src="{% static 'js/theme/vendor/jquery.slicknav.min.js' %}"></script>
        <!-- YTPlayer JS -->
	    <script src="{% static 'js/theme/vendor/jquery.mb.YTPlayer.min.js' %}"></script>
        <!-- Imagesloaded JS -->
        <script src="{% static 'js/theme/vendor/imagesloaded.pkgd.min.js' %}"></script>
		<!-- OWL-Carousel JS -->
		<script src="{% static 'js/theme/vendor/owl.carousel.min.js' %}"></script>
        <!-- Smooth Scroll JS -->
		<script src="{% static 'js/theme/vendor/smooth-scroll.min.js' %}"></script>
        <!-- venobox JS -->
		<script src="{% static 'js/theme/vendor/venobox.min.js' %}"></script>
        <!-- Wow JS -->
	    <script src="{% static 'js/theme/vendor/wow.min.js' %}"></script>
        <!-- ajaxchimp JS -->
        <script src="{% static 'js/theme/vendor/jquery.ajaxchimp.min.js' %}"></script>
        <!-- isotope JS -->
		<script src="{% static 'js/theme/vendor/jquery.isotope.v3.0.2.js' %}"></script>
        <!-- Awesome JS -->
        <script src="{% static 'js/awesome/all.min.js' %}"></script>
		<!-- Main JS -->
		<script src="{% static 'js/theme/main.js' %}"></script>

<script>
// for navigation toggle
let navigation = document.querySelector('.navigation');
let toggle = document.querySelector('.toggle');
toggle.onclick = function() {
    navigation.classList.toggle('active')
};



</script>

{% block scripts %}

{% endblock %}


    </body>
</html>
