{% extends "start_page.html" %}
{% block content %}
    <div class="page">
      <div class="position-relative d-flex flex-row flex-fill page-wrapper">
        <div
          class="position-relative d-flex flex-column flex-fill page-content"
          style="min-width:0">
          <div
            class="d-flex flex-column justify-content-center align-items-center px-3 bg-white min-vh-100">
            <div class="w-100 reset-pass-card">
              <div class="card shadow-none">
                <div class="card-body">
                  <div class="text-center mb-5">
                    <p style="font-size:20px" class="mb-0 mt-3">
                    We've emailed you instructions for setting your password. If they haven't arrived
                    in a few minutes, check your spam folder.</p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}