{% extends "start_page.html" %}
{% load static %}

{% block title %}{{w_enter_new_pas}}{% endblock %}

{% block content %}


    <div class="page">
      <div class="position-relative d-flex flex-row flex-fill page-wrapper">
        <div
          class="position-relative d-flex flex-column flex-fill page-content"
          style="min-width:0">
          <div class="d-flex flex-column justify-content-center align-items-center px-3 bg-white min-vh-100">



{% if validlink %}


            <div class="reset-pass-card">
              <div class="shadow p-1 mb-5 bg-white rounded-10">
                <div class="card-body">
                  <div class="text-center mb-3">
                    <p class="mb-0 mt-3">{{w_enter_new_pas}}</p>
                    </div>
                  <div class="mb-3">

                    <span class="text-muted">{{w_pas_cant_similar}}</span><br>
                    <span class="text-muted">{{w_pas_8_char}}</span><br>
                    <span class="text-muted">{{w_pas_cant_com}}</span><br>
                    <span class="text-muted">{{w_pas_cant_numeric}}</span>
                  </div>


                  <form class="" id="add_form" method="post">
                      {% csrf_token %}
                    <div class="row mb-4 form-group">
                      <div class="col-lg-5">
                        <label for="id_new_password1">{{w_new_pas}}:</label>
                      </div>
                      <div class="col-lg-7">
                        {{ form.new_password1 }}
                        {% if form.errors %}
                        {{ form.errors }}
                        {% endif %}
                      </div>
                    </div>
                    <div class="row mb-4 form-group">
                      <div class="col-lg-5">
                        <label for="id_new_password2">{{w_confirm}}:</label>
                      </div>

                      <div class="col-lg-7">
                        {{ form.new_password2 }}
                          <div id="msg"></div>
                      </div>

                    </div>
                      <div class="row">
                          <div class="col-12">
                              <button style="width:100%" form="add_form" type="submit"
                                      class="mb-3 btn btn-primary btn-lg btn-block">
                                  Change my password
                                </button>
                          </div>
                      </div>


                  </form>
                </div>
              </div>
            </div>


{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}

          </div>
        </div>
      </div>
    </div>


{% endblock %}

{% block scripts %}

<script>

    $('#id_new_password1').addClass('form-control w-100');
    $('#id_new_password2').addClass('form-control w-100');

    $(document).ready(function(){
        $("#id_new_password2").keyup(function(){
             if ($("#id_new_password1").val() != $("#id_new_password2").val()) {
                 $("#msg").html("Password do not match").css("color","red");
             }else{
                 $("#msg").html("Password matched").css("color","green");
             }
        });
    });

</script>
{% endblock %}