{% extends 'index.html' %}
{% load static %}


  {% block content %}


    <div class="page">
      <div class="position-relative d-flex flex-row flex-fill page-wrapper">
        <div class="position-relative d-flex flex-column flex-fill page-content" style="min-width:0">
          <div class="d-flex flex-column justify-content-center align-items-center px-3 bg-white min-vh-100">

              <!-- так выводиться сообщения из класса CustomSuccessMessageMixin-->
    {% if messages %}
    <div class="alert alert-success">
      {% for m in messages %}
      {{m}}
      {% endfor %}
    </div>
    {% endif %}

            <div class="reset-pas-card">
              <div class="shadow p-1 mb-5 bg-white rounded-10">
                    <div class="card-body text-center">
                        <div class="card-header">
                        <strong style="font-size:18px;">Recover your password</strong>
                        </div>

                        <p class="text-muted">
                          Enter your email and we'll send you instructions on how to
                          reset your password.
                        </p>

                      <form class="" method="post">
                        <div class="mb-4 form-group">
                          <label for="email" class="">Email</label>
                            {% csrf_token %}
                          {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                          {{ form.email }}
                        </div>
                        <button type="submit" class="mb-3 btn btn-danger btn-lg btn-block" style="width:100%">
                          Reset password
                        </button>
                          {% if not user.is_authenticated %}
                        <div class="text-center">
                          <small class="text-muted text-center">
                              <span>Don't have an account yet?</span>
                            <a href="{{url_reg_customer}}">Create one now!</a>
                          </small>
                        </div>
                          {% endif %}
                      </form>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
