{% extends 'start_page.html' %}
{% load static %}


  {% block content %}


    <div class="page">
      <div class="position-relative d-flex flex-row flex-fill page-wrapper">
        <div
          class="position-relative d-flex flex-column flex-fill page-content"
          style="min-width:0">
          <div
            class="d-flex flex-column justify-content-center align-items-center px-3 bg-white min-vh-100">


            <div class="w-100 auth-card">
              <div class="shadow p-1 mb-5 bg-white rounded-10">
                <div class="card-body">
                  <div class="text-center mb-3">

                    <p class="mb-0 mt-3">{{w_pas_success}}</p>
                  </div>


                      <div class="row">
                          <div class="col-12">
                              <a href="{% url 'login_page' %}" class="w-100 mb-3 btn btn-primary btn-lg btn-block">
                                  {{w_login_button}}
                                </a>
                          </div>
                      </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}


