{% extends 'index.html' %}
{% load static %}


  {% block content %}


    <div class="page">
      <div class="position-relative d-flex flex-row flex-fill page-wrapper">
        <div
          class="position-relative d-flex flex-column flex-fill page-content"
          style="min-width:0"
        >
          <div
            class="d-flex flex-column justify-content-center align-items-center px-3 bg-white min-vh-100"
          >

              <!-- так выводиться сообщения из класса CustomSuccessMessageMixin-->
    {% if messages %}
    <div class="alert alert-success">
      {% for m in messages %}
      {{m}}
      {% endfor %}
    </div>
    {% endif %}

            <div class="w-100 auth-card">
              <div class="shadow p-1 mb-5 bg-white rounded-10">
                <div class="card-body">
                  <div class="text-center mb-3">
                    <!-- <svg width="24" height="24" class="d-block m-auto">
                      <img src="{% static 'img/logo_blue.svg' %}" alt="AutoDaddy">
                    </svg> -->
                    <p class="mb-0 mt-3">your password was set successfully</p>
                  </div>


                      <div class="row">
                          <div class="col-12">
                              <a href="{{url_login}}" class="w-100 mb-3 btn btn-primary btn-lg btn-block">
                                  Log in now
                                </a>
                          </div>
                      </div>

<!--                    <div class="text-center">-->
<!--                      <div class="text-muted text-small text-center">-->
<!--                        <span>Don't have an account yet?</span><br>-->
<!--                        <a href="{% url 'register_customer_page' %}">Create one now!</a>-->
<!--                      </div>-->
<!--                    </div>-->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}


